.container {
  width: 100% !important; /* Take full width of the page */
  max-width: 100% !important; /* Ensure no width limit */
  margin-left: 0 !important; /* Remove left margin if applied */
  margin-right: 0 !important; /* Remove right margin if applied */
  }
  
  .table {
    font-size: 0.9rem;
  }
  
  form {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 10px;
  }
  