<main class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row shadow-lg p-4 rounded-4 bg-white login-wrapper">
      <div class="col-md-6 d-flex align-items-center justify-content-center">
        <img src="https://i.postimg.cc/YC13sX2Z/Astronaut-cuate.png" class="img-fluid left-login-img" alt="Astronaut Image">
      </div>
  
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="text-center mb-4">Login</h2>
  
          <div class="mb-3">
            <label for="user" class="form-label">Contact No</label>
            <input type="text" class="form-control" id="user" [(ngModel)]="LoginCust.ContactNo" placeholder="Enter contact no.">
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="LoginCust.Password" placeholder="Enter password">
          </div>
  
          <!-- <div class="mb-4">
            <label for="userType" class="form-label">Select User Type</label>
            <select class="form-select" id="userType" [(ngModel)]="userType">
              <option value="" disabled selected>Select User Type</option>
              <option value="Customer">👤 Customer</option>
              <option value="Organizer">📅 Organizer</option>
            </select>
          </div> -->
  
          <button class="btn btn-primary w-100" (click)="loginCust()">Login</button>
  
          <div class="text-center mt-3">
            <p class="mb-0">Don't have an account? <a routerLink="/register" class="text-decoration-none">Register here</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>
  